@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f6f6f6;
	overflow-x: hidden;
}

.section-title-gradient {
	background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 58.84%, #696969 91.39%, #b1b1b1 116.12%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Welcome Section */

.subtitle-gradient {
	background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.first-bottles-vector-image,
.second-bottles-vector-image,
.first-bg-vector-image,
.second-bg-vector-image,
.third-bg-vector-image {
	position: absolute;
	z-index: -10;
}

.first-bottles-vector-image {
	top: 40%;
	right: 29%;
	height: 40%;
	transform: rotate(12deg);
}

.second-bottles-vector-image {
	height: 35%;
	top: 60%;
	left: 29%;
}

.first-bg-vector-image {
	right: 0;
	bottom: 0;
}

.second-bg-vector-image {
	left: 6%;
	bottom: -55%;
	transform: rotate(15deg);
}

.third-bg-vector-image {
	right: 0;
	bottom: -45%;
}

/* What Sets Us Apart Section */

.special-first-number-box-shadow,
.special-second-number-box-shadow {
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.special-first-number-box-shadow {
	padding: 11px 19px;
}

.special-second-number-box-shadow {
	padding: 12px 19px;
}

.first-container-vector-image-1,
.first-container-vector-image-2,
.second-container-vector-image-1,
.second-container-vector-image-2,
.third-container-vector-image-1,
.third-container-vector-image-2 {
	position: absolute;
	z-index: -10;
}

.first-container-vector-image-1 {
	top: 30%;
	left: -15%;
	transform: rotate(-12deg);
}

.first-container-vector-image-2 {
	top: 10%;
	right: -7%;
	transform: rotate(25deg);
}

.second-container-vector-image-1 {
	bottom: 10%;
	left: -16%;
	transform: rotate(210deg);
}

.second-container-vector-image-2 {
	bottom: 10%;
	right: -6%;
	transform: rotate(180deg);
}

.third-container-vector-image-1 {
	top: 22%;
	left: -13%;
	transform: rotate(-12deg);
}

.third-container-vector-image-2 {
	bottom: 10%;
	right: 0;
	transform: rotate(180deg);
}

/* Composition Section */

.bottle-image,
.dog-image {
	position: relative;
	z-index: 1;
}

.first-bottle-vector-image,
.second-bottle-vector-image,
.first-dog-vector-image,
.second-dog-vector-image {
	position: absolute;
}

.first-bottle-vector-image {
	top: 42%;
	left: 5%;
	transform: rotate(15deg);
}

.second-bottle-vector-image {
	top: 28%;
	right: 0;
	transform: rotate(20deg);
}

.first-dog-vector-image {
	top: 30%;
	left: 15%;
}

.second-dog-vector-image {
	top: 20%;
	right: 4%;
	transform: rotate(40deg);
}

@media screen and (min-width: 1024px) {
	.highlight-on-hover h5 {
		position: relative;
	}

	.highlight-on-hover h5::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 10%;
		width: 100%;
		border-bottom: 1px solid transparent;
		transition: border-color 0.3s;
	}

	.highlight-on-hover:hover h5::after {
		border-color: #111111;
	}
}

/* Products */

.products-select {
	border: none;
	border-right: 10px solid transparent;
	cursor: pointer;
}

@media screen and (min-width: 500px) {
	.products-select {
		text-align-last: right;
		-moz-text-align-last: right;
	}
}
